<p id="notice"><%= notice %></p>

<%# inserta el formulario de post %>
<div id="form"></div>
<%# inserta el post consultado %>
<div id="showPost"></div>

<h1>Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="posts">
    <% @posts.each do |post| %>
      <tr id="post-<%=post.id%>">
        <td><%=post.id%></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Ver', post, remote: true, class:"btn btn-info" %></td>
        <td><%= link_to 'Editar', edit_post_path(post), remote: true, class:"btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', post_path(post), data: { remote: true, confirm: 'Are you sure?' }, method: :delete, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, remote: true, class:'btn btn-success', id:'create_post' %>
